<div class="profile-page edit">
  <h2>Edit Profile Page</h2>

  <%= form_for :user, url: update_profile_user_path, :method => :put do |f| %>

    <%= image_tag(@user.avatar.url , class: "avatar") if @user.avatar? %>

  <%= field_set_tag do %>
    <%= f.label :username %>
  <%= f.text_field :username %>
<% end %>

  <%= field_set_tag do %>
    <%= f.label :location %>
  <%= f.text_field :location %>
<% end %>

  <%= field_set_tag do %>
    <%= f.label :languages %> 
  <%= f.text_field :languages %>
<% end %>

  <%= field_set_tag do %>
    <%= f.label :skills %> 
  <%= f.text_field :skills %>
<% end %>

  <%= field_set_tag do %>
    <%= f.label :about %> 
  <%= f.text_area(:about, :cols => 50, :rows => 20, :placeholder => "Tell us about yourself ... ", :class => "about") %>
<% end %>

  <%= field_set_tag do %>
    <%= f.label :avatar %>
  <%= f.file_field(:avatar, accept: 'image/png,image/gif.image/jpeg') %>
<% end %>


  <%= submit_tag "Update" %>

<% end %>
</div> 
