<div class="profile-page">
<h3><%= @user.username %></h3>

<%= image_tag(@user.avatar.url , class: "avatar") if @user.avatar? %>

<ul>
  <li>Account type: <%= @user.type %></li>
  <li>Location: <%= @user.location %></li>
  <li>Skills:
    <% @user.skills.each do |skill| %>
      <%= skill.name %>
    <% end %>
  </li>
  <li>Languages:
    <% @user.languages.each do |language| %>
      <%= language.name %>
    <% end %>
  </li>
</ul>

<p><%= @user.about %></p>

<% if @user.id == current_user.id %>
  <%= link_to "Edit Profile", edit_user_path(@user), class: "edit-user"  %>
<% end %>

</div>

