<div class="profile-page">
  <h2>Add Project</h2>

  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  <% end %>

  <%= bootstrap_form_for @project do |f| %>

    <%= f.hidden_field :buyer_id %>

    <%= field_set_tag do %>
  <%= f.text_field :title %>
  <% end %>

  <%= field_set_tag do %>
  <%= f.text_area(:description, :cols => 50, :rows => 20, :placeholder => "Tell us about the project ... ", :class => "about") %>
  <% end %>

  <%= field_set_tag do %>
  <%= f.text_area(:about, :cols => 50, :rows => 20, :placeholder => "Tell us about yourself ... ", :class => "about") %>
  <% end %>

    <%= f.date_select(:closing_date, { include_blank: true, start_year: Time.now.year, end_year: (Time.now.year + 13) }) %>

  <div id ="project-skills" class="form-section">
    <h4>Skills</h4>
    <%= collection_select(:project, :skill_ids, @skills, :id, :name,{}, {multiple:true}) %>
  </div>


  <%= submit_tag "Update", class: "btn btn-success" %>

<% end %>
</div> 
