<div class="profile-page">
  <h3><%= @proposal.title %></h3>
  <hr />

  <h4>About the Creative:</h4>
  <p><%= @proposal.about %></p>
  <hr />

  <h4>About the Proposal:</h4>
  <p><%= @proposal.description %></p>
  <hr />

  <% if @project.buyer_id == current_user.id %>
    <%= form_for :proposal, url: project_proposal_path(@project, @proposal), :method => :put do |f| %>
      <%= f.select( :status, [['Accept', 1], ['Decline', 2]]) %>
    <%= submit_tag "Submit", class: "btn btn-default" %>
    <% end %>
  <% end %>

</div>
