<!DOCTYPE html>
<html>
<head>
  <title>The Soul At Work</title>
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fluid-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="container nav-collapse">
          <ul class="nav">
            <li><button class="btn btn-default"><%= link_to 'Start A Project', new_project_path  %></button></li>
            <li><%= link_to 'Projects', projects_path %></li>
            <li><%= link_to 'Profile', me_user_path %></li>
            <li><%= link_to 'Edit Settings', edit_user_registration_path %></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class='notice-parent'>
    <span class="notice alert-info"><%= notice %></span>
    <span class="alert alert-warning"><%= alert %></span>
  </div>

  <main>
  <%= yield %>
  </main>

  <footer>
    <p>&copy; The Soul at Work 2014</p>
  </footer>

</body>
</html>
