<!DOCTYPE html>
<html>
<head>
  <title>The Soul At Work</title>
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <script type="text/javascript" src="https://js.balancedpayments.com/1.1/balanced.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fluid-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="container nav-collapse">
          <ul class="nav">
            <li><button class="btn btn-default"><%= link_to 'Start A Project', new_project_path  %></button></li>
            <li><%= link_to 'Projects', projects_path %></li>
            <li><%= link_to 'Inbox', messages_path %></li>
            <li><%= link_to 'Profile', me_user_path %></li>
            <li><%= link_to 'Accounts', 'https://dashboard.balancedpayments.com/#/marketplaces/TEST-MP20Bbo9ZMHcvsy8ALtO1TG5/transactions', :target => "_blank" %></li>
            <li><%= link_to 'Edit Settings', edit_user_registration_path %></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <% if flash[:alert]%>
    <span class="notice alert-info"><%= notice %></span>
  <% end %>
  <% if flash[:alert]%>
    <span class="alert alert-warning"><%= alert %></span>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-12 wrapper">
        <main>
        <%= yield %>
        </main>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <footer>
          <p>&copy; The Soul at Work 2014</p>
        </footer>
      </div>
    </div>
    <div class"clearfix"></div>
  </div>

</body>
</html>
